{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "modules": "commonjs"
        },
        "styled-jsx": {
          "plugins": [
            "styled-jsx-plugin-sass"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "minify-guarded-expressions",
    ["minify-dead-code-elimination", { "optimizeRawSize": true }],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "styles": "./styles"
        }
      }
    ]
  ]
}
