{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }],
    [
      "next/babel",
      {
        "preset-env": {
          "modules": "commonjs"
        },
        "styled-jsx": {
          "plugins": [
            "styled-jsx-plugin-sass"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "babel-plugin-transform-undefined-to-void",
    "minify-guarded-expressions",
    ["minify-dead-code-elimination", { "optimizeRawSize": true }],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "styles": "./styles"
        }
      }
    ]
  ]
}
